.btn {
    height:100px;
    width:100px;
    border-color:#c2e254 #9bb838 #9bb838 #c2e254;
    border-style:solid;
    border-width:1px;
    background:#c2e254;
    cursor:pointer;
    width: 20%;
    border-radius: 4px;
    margin-left:150px;
    margin-top:50px;
    color: #000000;
    font-size: 15px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.btn2 {
    margin-left:5px;
}

.btn:hover {
    border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
    border-style:solid;
    border-width:1px;
    background:#FFFF99;
}

.btn:focus {
    background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
}

.btn:active {
    background:#ff0000;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
}

a{
    margin-right: 5%;
    margin-left: 5%;
    left: 5%; - расстояние от края
    right: 5%;
    text-align: center;
}

header {
    background: #161B22;
    padding-left: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: center;
}

thead, tfoot {
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
}

::selection{
    background: #d9534f;
    color: #fff;
}

.modal {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
}

.checkselect {
	position: relative;
	display: inline-block;
	min-width: 100%;
	text-align: left;
    margin-bottom: 20px;
}
.checkselect-control {
	position: relative;
	padding: 0 !important;
}
.checkselect-control select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding-left: 5px;
	height: 35px;
}
.checkselect-over {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.checkselect-popup {
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 200px;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid #dadada;
	border-top: none;
	background: #fff;
	z-index: 9999;
	overflow: auto;
	user-select: none;
}
.checkselect label {
	position: relative;
	display: block;
	margin: 0;
	padding: 4px 6px 4px 25px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1;
	cursor: pointer;
}
.checkselect-popup input {
	position: absolute;
	top: 5px;
	left: 8px;
	margin: 0 !important;
	padding: 0;
}
.checkselect-popup label:hover {
	background: #03a2ff;
	color: #fff;
}
.checkselect-popup fieldset {
	display: block;
	margin:  0;
	padding: 0;
	border: none;
}
.checkselect-popup fieldset input {
	left: 15px;
}
.checkselect-popup fieldset label {
	padding-left: 32px;
}
.checkselect-popup legend {
	display: block;
	margin: 0;
	padding: 5px 8px;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.1;
}