* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background: #d9534f;
    color: #fff;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    height: 75px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    font-size: 24px;
    color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
	background: #161B22;
	padding: 0 15px;
	margin: 0 auto;
}

.header__title {
	display: flex;
	align-items: center;
	user-select: none;
}
.header__title i {
	margin-right: 10px;
	font-size: 42px;
}
.header__title:hover {
	color: #FFFF99;
	cursor: pointer;
}

.header__btn {
	width: 200px;
	height: 35px;
	border-radius: 5px;
	user-select: none;
	font-size: 14px;
	cursor: pointer;
}
.header__btn:hover {
    background:#FFFF99;
	border: 1px solid #FFCC66;
}
.header__btn:focus {
    background:#ddd;
	border: 1px solid #333;
}
.header__btn:active {
    background:#ddd;
	border: 1px solid #333;
}

.header__input {
    width: 350px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}


/* Main - Table */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__head .table__column, .table__footer {
    border: 3px solid black;
    background: #FFCC66;
    color: black;
    padding: 10px 0;
    text-align: center;
}

.table__body .table__column {
    border: 3px solid black;
    background: #3D3D3D;
    color: white;
    text-align: center;
    height: 50px;
}

.table__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    weight: 100%;
    height: 100%;
    background: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.table__btn:hover {
    background: #FFFF99;
}

.table__select {
    overflow: auto;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 15px;
}

.table__footer {
    font-weight: bold;
}


/* Modal Window*/

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    top: 0;
    font-size: 16px;
}

.modal__content {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 5px;
    min-width: 400px;
}

.modal__control_edit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.modal__title {
    font-size: 22px;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    font-size: 32px;
    background: none;
    border: none;
}
.btn-close:hover {
    color: #FFCC66;
}

.modal__body {
    border: 2px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 15px;
}

.modal__label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #6e6e6e;
}

.modal__input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

.modal__checkbox {
    overflow: auto;
    width: 100%;
    max-width: 400px;
    height: 80px;
    border: 2px solid #d3d3d3;
    padding: 5px;
}

.modal__checkbox input {
    margin: 5px 0;
}

.modal__checkbox label {
    display: block;
    padding: 5px;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
}

.modal__btn {
	border-radius: 5px;
	user-select: none;
	font-size: 14px;
	cursor: pointer;
	padding: 5px 10px;
}
.modal__btn:hover {
    background:#FFFF99;
	border: 1px solid #FFCC66;
}
.modal__btn:focus {
    background:#ddd;
	border: 1px solid #333;
}
.modal__btn:active {
    background:#ddd;
	border: 1px solid #333;
}
.modal__btn:last-child {
    margin-left: 15px;
}

.btnDisabled {
    background: #dedede;
}
.btnDisabled:hover {
    background: #dedede;
}