{% extends 'base.html' %}

{% block title %} Договоры {% endblock %}

{% block header_title %} Договоры {% endblock %}

{%block header__nav%}
<form method="GET">
    <input class="header__input" type="text" placeholder="Поиск..." name="q" size="50" value="{{ request.args.get('q', '') }}">
    <input class="header__btn" type="submit" name="action" value="Искать">
</form>
<nav class="header__nav">
    <button data-id="modalAdd" class="header__btn btn-open" id="headerBtnAdd">Добавить договор</button>
    <button class="header__btn" onclick="document.location='/'">Назад</button>
</nav>
{% endblock %}

{% block body %}
<form method="post">
    <div id="modalAdd" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Добавление проекта</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="idContract" hidden>
                <label class="modal__label" for="name">Название</label>
                <input class="modal__input" id="name" maxlength="100" name="name" placeholder="Введите название договора">
                <label class="modal__label" for="client">Клиент</label>
                <input class="modal__input" id="client" maxlength="100" name="client" placeholder="Введите клиента">
                <div class="modal__checkbox">
                    {% for project in projects_list %}
                        <input type="checkbox" name="projects" class="projectsEdit" value="{{ project.idProject }}"> {{ project.name }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="modal__footer">
                <div class="modal__control modal__control_edit">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" disabled value="Добавить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEdit" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Редактирование договора</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="idContract2" hidden>
                <label class="modal__label" for="name">Название</label>
                <input class="modal__input" id="name2" maxlength="100" name="name2" placeholder="Введите название договора"><br>
                <label class="modal__label" for="client2">Клиент</label>
                <input class="modal__input" id="client2" maxlength="100" name="client2" placeholder="Введите клиента"><br>
                <div class="modal__checkbox">
                    {% for project in projects_list %}
                    <label for="project-{{ project.idProject }}"><input id="project-{{ project.idProject }}" class="projectsEdit" type="checkbox" name="projects2" value="{{ project.idProject }}"> {{ project.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="modal__footer">
                <div class="modal__control modal__control_edit">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" disabled value="Изменить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead class="table__head">
        <tr>
            <th class="table__column" scope="col">id</th>
            <th class="table__column" scope="col">Название</th>
            <th class="table__column" scope="col">Заказчик</th>
            <th class="table__column" scope="col">Проекты</th>
            <th class="table__column" scope="col">Дата начала</th>
            <th class="table__column" scope="col">Дата окончания</th>
            <th class="table__column" scope="col">Стоимость</th>
            <th class="table__column" colspan="2">Действия</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="table__footer" colspan="9">{{ length }} договоров стоимостью {{ total_sum }}</td>
        </tr>
    </tfoot>
    <tbody class="table__body">
        {% for contract in contracts_list %}
        <tr>
            <td class="table__column" scope="col">{{ contract.idContract }}</td>
            <td class="table__column" scope="col">{{ contract.name }}</td>
            <td class="table__column" scope="col">{{ contract.client }}</td>
            <td class="table__column" scope="col">
                <select class="table__select" id="contract-{{ contract.idContract }}" name="{{ contract.idContract }}">
                    {% for project in contract_project_list %}
                        {% if contract.idContract == project.idContract %}
                            <option value="project-{{ project.idProject }}">{{ project.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td class="table__column" scope="col">{{ contract.MinStartDate }}</td>
            <td class="table__column" scope="col">{{ contract.MaxEndDate }}</td>
            <td class="table__column" scope="col">{{ contract.FullCost }}</td>
            <td class="table__column">
                <a class="table__btn btn-open" href="#" id="editBtn" data-id="modalEdit" data-info="{{ contract.idContract }}, {{ contract.name }}, {{ contract.client }}">Редактировать</a>
            </td>
            <td class="table__column">
                <a class="table__btn" href="/Contract/delete/{{ contract.idContract }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/contract.js') }}"></script>

{% endblock %}