{% extends 'base.html' %}

{% block title %}
    Договоры
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Договоры</h3>
    <div>
        <button onclick="document.getElementById('id01').style.display='block'">Добавить договор</button>
        <button onclick="document.location='/'">Назад</button>
    </div>
{% endblock %}

{% block body %}
<body bgcolor="#c0c0c0">
    <form method="post" >
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                {% for row in results %}
                <td scope="col">{{ row.idContract }}</td>
                <td scope="col">{{ row.Name }}</td>
                <td scope="col">{{ row.Client }}</td>
                <td scope="col">{{ row.MinStartDate }}</td>
                <td scope="col">{{ row.MaxEndDate }}</td>
                <td scope="col">{{ row.FullCost }}</td>
            </tr>
            {% endfor %}
          </tbody>
            <th colspan="6">{{ length }} договоров стоимостью {{ total_sum }}</th>
        </table>
    </form>
</body>
{% endblock %}