{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Проектная организация</h3>
    <div>
        <a href="/Workers">Сотрудники</a>
        <a href="/Projects">Проекты</a>
        <a href="/Contracts">Договоры</a>
        <a href="/Equipments">Оборудование</a>
        <a href="/EquipmentsProjects">Оборудование в проектах</a>
        <a href="/Subcontractors">Субподрядные организации</a>
    </div>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post" >

    </form>
</div>
{% endblock %}