{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{%block header%}
        <div class="header__title">
            <i class="fa-solid fa-industry"></i>
            <h3>Проектная организация</h3>
        </div>

        <nav class="header__nav">
            <button class="header__btn" onclick="document.location='/Workers'">Сотрудники</button>
            <button class="header__btn" onclick="document.location='/Projects'">Проекты</button>
            <button class="header__btn" onclick="document.location='/Contracts'">Договоры</button>
            <button class="header__btn" onclick="document.location='/Subcontractors'">Субподрядные организации</button>
        </nav>
{% endblock %}

{% block body %}
<form method="post" >

</form>
{% endblock %}