{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Проектная организация</h3>
    <div>
        <button onclick="document.location='/Workers'">Сотрудники</button>
        <button onclick="document.location='/Projects'">Проекты</button>
        <button onclick="document.location='/Contracts'">Договоры</button>
        <button onclick="document.location='/Subcontractors'">Субподрядные организации</button>
    </div>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post" >

    </form>
</div>
{% endblock %}