{% extends 'base.html' %}

{% block title %}
    Проекты
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Проекты</h3>
    <div>
        <button onclick="document.getElementById('id01').style.display='block'">Добавить проект</button>
        <button onclick="document.location='/'">Назад</button>
    </div>
{% endblock %}

{% block body %}

<form method="post" >
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Руководитель</th>
                <th scope="col">Оборудование</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Стоимость</th>
            </tr>
        </thead>
    <tbody>
        <tr>
        {% for row in results %}
            <td scope="col">{{ row.idProject }}</td>
            <td scope="col">{{ row.Name }}</td>
            <td scope="col">{{ row.Nachname }} {{ row.Vorname }}</td>
            {% if row.Equipment %}
                <td scope="col">{{ row.Equipment }}</td>
            {% else %}
                <td scope="col"></td>
            {% endif %}
            <td scope="col">{{ row.StartDate }}</td>
            <td scope="col">{{ row.EndDate }}</td>
            <td scope="col">{{ row.Cost }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <th colspan="7">{{ length }} проекта стоимостью {{ project_sum }} </th>
    </table>
</form>

{% endblock %}