{% extends 'base.html' %}

{% block title %} Проекты {% endblock %}

{% block header_title %} Проекты {% endblock %}

{%block header__nav%}
<form method="GET">
    <input class="header__input" type="text" placeholder="Поиск..." name="q" size="50" value="{{ request.args.get('q', '') }}">
    <input class="header__btn" type="submit" name="action" value="Искать">
</form>
<nav class="header__nav">
    <button data-id="modalAdd" class="header__btn btn-open" id="headerBtnAdd">Добавить проект</button>
    <button class="header__btn" onclick="document.location='/'">Назад</button>
</nav>
{% endblock %}

{% block body %}
<form method="post">
    <div id="modalAdd" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Добавление проекта</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="id" hidden>
                <label class="modal__label" for="name">Название</label>
                <input class="modal__input" id="name" maxlength="100" name="name" placeholder="Введите название проекта...">
                <label class="modal__label" for="cost">Стоимость</label>
                <input class="modal__input" id="cost" min="0.00" max="100000000000000" name="cost" type="number"  step="0.01" placeholder="Введите стоимость...">
                <label class="modal__label" for="startDate">Дата начала</label>
                <input class="modal__input" id="startDate" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="startDate" type="date"/>
                <label class="modal__label" for="startDate">Дата окончания</label>
                <input class="modal__input" id="endDate" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="endDate" type="date"/>
                <label class="modal__label" for="leader">Руководитель проекта</label>
                <select class="modal__input" id="leader" name="leader">
                    {% for leader in leaders %}
                        <option value="leader-{{ leader.idWorker }}">{{ leader.forename }} {{ leader.surname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal__footer">
                <div class="modal__control modal__control_edit">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" value="Добавить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

     <div id="modalEdit" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Редактирование проекта</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="id2" hidden>
                <label class="modal__label" for="name2">Название проекта</label>
                <input class="modal__input" id="name2" maxlength="100" name="name2" placeholder="Введите название проекта">
                <label class="modal__label" for="cost2">Стоимость</label>
                <input class="modal__input" id="cost2" min="0.00" max="100000000000000" name="cost2" type="number" step="0.01" placeholder="Введите стоимость"><br>
                <label class="modal__label" for="startDate2">Дата начала</label>
                <input class="modal__input" id="startDate2" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="startDate2" type="date"/>
                <label class="modal__label" for="endDate2">Дата окончания</label>
                <input class="modal__input" id="endDate2" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="endDate2" type="date"/>
                <label class="modal__label" for="leader2">Руководитель проекта</label>
                <select class="modal__input" id="leader2" name="leader2">
                    {% for leader in leaders %}
                        <option class="leadersEdit" value="leader-{{ leader.idWorker }}">{{ leader.forename }} {{ leader.surname }}</option>
                    {% endfor %}+
                </select>
            </div>
            <div class="modal__footer">
                <div class="modal__control modal__control_edit">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" value="Изменить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead class="table__head">
        <tr>
            <th class="table__column" scope="col">id</th>
            <th class="table__column" scope="col">Название</th>
            <th class="table__column" scope="col">Руководитель</th>
            <th class="table__column" scope="col">Оборудование</th>
            <th class="table__column" scope="col">Дата начала</th>
            <th class="table__column" scope="col">Дата окончания</th>
            <th class="table__column" scope="col">Стоимость</th>
            <th class="table__column" colspan="2">Действия</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="table__footer" colspan="9">{{ length }} проекта стоимостью {{ project_sum }}</td>
        </tr>
    </tfoot>
    <tbody class="table__body">
        {% for project in projects_list %}
        <tr>
            <td class="table__column" scope="col">{{ project.idProject }}</td>
            <td class="table__column" scope="col">{{ project.name }}</td>
            <td class="table__column" scope="col">{{ project.surname }} {{ project.forename }}</td>
            <td class="table__column" scope="col">{{ project.startDate }}</td>
            <td class="table__column" scope="col">{{ project.endDate }}</td>
            <td class="table__column" scope="col">{{ project.cost }}</td>
            <td class="table__column">
                <a class="table__btn btn-open" href="#" id="editBtn" data-id="modalEdit" data-info="{{ project.idProject }}, {{ project.name }}, {{ project.cost }}, {{ project.startDate }}, {{ project.endDate }}, {{ project.leader }}">Редактировать</a>
            </td>
            <td class="table__column">
                <a class="table__btn" href="/Project/delete/{{ project.idProject }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/project.js') }}"></script>
{% endblock %}