{% extends 'base.html' %}

{% block title %}
    Субподрядные организации
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Субподрядные организации</h3>
    <form method="GET">
        <input type="text" placeholder="Поиск" name="q" size="50" value="{{ request.args.get('q', '') }}">
        <input class="btn2" type="submit" name="action" value="Искать">
    </form>
    <div>
        <button class="btn2" onclick="document.getElementById('id01').style.display='block'">Добавить организацию</button>
        <button class="btn2" onclick="document.location='/'">Назад</button>
    </div>
{% endblock %}

{% block body %}
<form method="post">
    <div id="id01" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление договора</h5>
                    <button type="button" id="kreuz" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <input class="form-control" id="Name" maxlength="100" name="Name"
                       placeholder="Введите название организации" onchange="OnChange()"><br>
                        <input class="form-control" id="Cost" maxlength="100" name="Cost"
                       placeholder="Введите стоимость" onchange="OnChange()"
                       min="0.00" max="100000000000000" type="number" step="0.01"><br>
                        <input class="form-control" id="Workload" maxlength="100" name="Workload"
                       placeholder="Введите объем работы" onchange="OnChange()"
                       min="0.00" max="100" type="number" step="0.01"><br>
                        <select id="NameProject" name="NameProject">
                            {% for project in projects_name %}
                                <option>{{ project.Name }}</option>
                            {% endfor %}
                        </select>
                        <label> - Проект </label>
                        <div class="modal-footer">
                            <input id="btn1" type="submit" name="action" value="Добавить">
                            <button type="button" id="cancel" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div id="id02" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактирование договора</h5>
                    <button type="button" id="kreuz2" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <input class="form-control" id="idSubcontractor2" name="idSubcontractor2" hidden><br>
                        <input class="form-control" id="Name2" maxlength="100" name="Name2"
                       placeholder="Введите название организации" onchange="OnChange()"><br>
                        <input class="form-control" id="Cost2" maxlength="100" name="Cost2"
                       placeholder="Введите стоимость" onchange="OnChange()"><br>
                        <input class="form-control" id="Workload2" maxlength="100" name="Workload2"
                       placeholder="Введите объем работы" onchange="OnChange()"><br>
                        <select id="NameProject2" name="NameProject2">
                            {% for project in projects_name %}
                                <option>{{ project.Name }}</option>
                            {% endfor %}
                        </select>
                        <label> - Проект </label>
                        <div class="modal-footer">
                            <input id="btn2" type="submit" name="action" value="Изменить">
                            <button type="button" id="cancel2" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/subcontractor_add.js') }}"></script>

<form method="post" >
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Проект</th>
                <th scope="col">Объем работы</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for row in results %}
                <td scope="col">{{ row.idSubcontractor }}</td>
                <td scope="col">{{ row.Name }}</td>
                <td scope="col">{{ row.Cost }}</td>
                <td scope="col">{{ row.ProjectName }}</td>
                <td scope="col">{{ row.Workload }}%</td>
                <td>
                    <a href="#"
                    onclick="modal_data({{ row.idSubcontractor }}, '{{ row.Name }}', '{{ row.Cost }}',
                    '{{ row.ProjectName }}', '{{ row.Workload }}')">Редактировать</a>
                </td>
                <td>
                    <a href="/Subcontractor/delete/{{ row.idSubcontractor }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <th colspan="7">{{ length }} организаций стоимостью {{ total_sum }}</th>
    </table>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/subcontractor_edit.js') }}"></script>
</form>

{% endblock %}