{% extends 'base.html' %}

{% block title %}
    Сотрудники
{% endblock %}

{%block header%}
    <h3  class="my-0 mr-md-auto text-white">Сотрудники</h3>
    <form method="GET">
        <input type="text" placeholder="Поиск" name="q" size="50" value="{{ request.args.get('q', '') }}">
        <input class="btn2" type="submit" name="action" value="Искать">
    </form>
    <div>
        <button class="btn2" onclick="document.getElementById('id01').style.display='block'">Добавить сотрудника</button>
        <button class="btn2" onclick="document.location='/'">Назад</button>
    </div>
{% endblock %}

{% block body %}
<form method="post">
    <div id="id01" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление сотрудника</h5>
                    <button type="button" id="kreuz" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="forename" maxlength="100" name="forename"
                   placeholder="Введите имя сотрудника" onchange="OnChange()"><br>
                    <input class="form-control" id="surname" maxlength="100" name="surname"
                   placeholder="Введите фамилию сотрудника" onchange="OnChange()"><br>
                    <div class="form-group">
                    <input id="DOB" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="DOB"
                       onchange="OnChange()" type="date"/>
                    <label> - Дата рождения </label>
                    <br>
                    <select id="speciality" name="speciality">
                        <option>Инженер</option>
                        <option>Техник</option>
                        <option>Лаборант</option>
                        <option>Конструктор</option>
                        <option>Обслуживающий персонал</option>
                    </select>
                    <label> - Специальность </label>
                    <br>
                    <select id="position" name="position">
                        <option>Рабочий</option>
                        <option>Начальник</option>
                    </select>
                    <label> - Должность </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="random">Зарандомить</button>
                    <input id="btn1" type="submit" name="action" value="Добавить">
                    <button type="button" id="cancel" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div id="id02" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать сотрудника</h5>
                    <button type="button" id="kreuz2" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="Worker2" name="Worker2" hidden><br>
                    <input class="form-control" id="Forename2" maxlength="100" name="Forename2"
                   placeholder="Введите имя сотрудника" onchange="OnChange2()"><br>
                    <input class="form-control" id="Surname2" maxlength="100" name="Surname2"
                   placeholder="Введите фамилию сотрудника" onchange="OnChange2()"><br>
                    <div class="form-group">
                    <input id="DOB2" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="DOB2"
                       onchange="OnChange2()" type="date"/>
                    <label> - Дата рождения </label>
                    <br>
                    <select id="Speciality2" name="Speciality2">
                        <option>Инженер</option>
                        <option>Техник</option>
                        <option>Лаборант</option>
                        <option>Конструктор</option>
                        <option>Обслуживающий персонал</option>
                    </select>
                    <label> - Специальность </label>
                    <br>
                    <select id="Position2" name="Position2">
                        <option>Рабочий</option>
                        <option>Начальник</option>
                    </select>
                    <label> - Должность </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn2" type="submit" name="action" value="Изменить">
                    <button type="button" id="cancel2" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/worker_add.js') }}"></script>

<body>
    <form method="post" >
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Имя сотрудника</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Специальность</th>
                    <th scope="col">Должность</th>
                    <th colspan="2">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for row in results %}
                    <td scope="col">{{ row.idWorker }}</td>
                    <td scope="col">{{ row.Surname }} {{ row.Forename }}</td>
                    <td scope="col">{{ row.DOB }}</td>
                    <td scope="col">{{ row.Age }}</td>
                    <td scope="col">{{ row.Speciality }}</td>
                    <td scope="col">{{ row.Position }}</td>
                    <td>
                        <a href="#"
                        onclick="modal_data({{ row.idWorker }}, '{{ row.Surname }}', '{{ row.Forename }}',
                        '{{ row.DOB }}', '{{ row.Speciality }}', '{{ row.Position }}')">Редактировать</a>
                    </td>
                    <td>
                        <a href="/Worker/delete/{{ row.idWorker }}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <th colspan="8">Количество сотрудников {{ length }}, инженеров {{ count_engineers[0]['ENGINEERS'] }},
            техников {{ count_technicians[0]['TECHNICIAN'] }}, конструкторов {{ count_constructors[0]['CONSTRUCTOR'] }},
            лаборантов {{ count_assistants[0]['ASSISTANT'] }},
            обслуживающего персонала {{ count_staffs[0]['STAFF'] }},
            рабочих {{ count_workers[0]['WORKER'] }},
            начальников {{ count_leaders[0]['LEADER'] }}.</th>
        </table>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/worker_edit.js') }}"></script>
    </form>
</body>
{% endblock %}