{% extends 'base.html' %}

{% block title %} Сотрудники {% endblock %}

{% block header_title %} Сотрудники {% endblock %}

{%block header__nav%}
<form method="GET">
    <input class="header__input" type="text" placeholder="Поиск..." name="q" size="50" value="{{ request.args.get('q', '') }}">
    <input class="header__btn" type="submit" name="action" value="Искать">
</form>
<nav class="header__nav">
    <button data-id="modalAdd" class="header__btn btn-open" id="headerBtnAdd">Добавить сотрудника</button>
    <button class="header__btn" onclick="document.location='/'">Назад</button>
</nav>
{% endblock %}

{% block body %}
<form method="post">
    <div id="modalAdd" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Добавление сотрудника</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="id" hidden>
                <label class="modal__label" for="forename">Имя</label>
                <input class="modal__input" id="forename" maxlength="100" name="forename" placeholder="Введите имя сотрудника...">
                <label class="modal__label" for="surname">Фамилия</label>
                <input class="modal__input" id="surname" maxlength="100" name="surname" placeholder="Введите фамилию сотрудника...">
                <label class="modal__label" for="DOB">Дата рождения</label>
                <input class="modal__input" id="DOB" name="DOB" type="date" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00"/>
                <label class="modal__label" for="speciality">Специальность</label>
                <select class="modal__input" id="speciality" name="speciality">
                    <option>Инженер</option>
                    <option>Техник</option>
                    <option>Лаборант</option>
                    <option>Конструктор</option>
                    <option>Обслуживающий персонал</option>
                </select>
                <label class="modal__label" for="position">Должность</label>
                <select class="modal__input" id="position" name="position">
                    <option>Рабочий</option>
                    <option>Начальник</option>
                </select>
                <div class="modal__checkbox">
                    {% for project in projects_list %}
                        <input type="checkbox" name="projects" value="{{ project.idProject }}"> {{ project.name }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="modal__footer">
                <button class="modal__btn" type="button" id="random">Зарандомить</button>
                <div class="modal__control">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" disabled value="Добавить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEdit" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Редактирование сотрудника</p>
                <button type="button" class="btn-close close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <input class="modal__input" name="id2" hidden>
                <label class="modal__label" for="forename2">Имя</label>
                <input class="modal__input" id="forename2" maxlength="100" name="forename2" placeholder="Введите имя сотрудника...">
                <label class="modal__label" for="surname2">Фамилия</label>
                <input class="modal__input" id="surname2" maxlength="100" name="surname2" placeholder="Введите фамилию сотрудника...">
                <label class="modal__label" for="DOB2">Дата рождения</label>
                <input class="modal__input" id="DOB2" name="DOB2" type="date" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00"/>
                <label class="modal__label" for="DOB2">Специальность</label>
                <select class="modal__input" id="speciality2" name="speciality2">
                    <option>Инженер</option>
                    <option>Техник</option>
                    <option>Лаборант</option>
                    <option>Конструктор</option>
                    <option>Обслуживающий персонал</option>
                </select>
                <label class="modal__label" for="position2">Должность</label>
                <select class="modal__input" id="position2" name="position2">
                    <option>Рабочий</option>
                    <option>Начальник</option>
                </select>
                <div class="modal__checkbox">
                    {% for project in projects_list %}
                    <label for="project-{{ project.idProject }}"><input id="project-{{ project.idProject }}" class="projectsEdit" type="checkbox" name="projects2" value="{{ project.idProject }}"> {{ project.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="modal__footer">
                <div class="modal__control modal__control_edit">
                    <input class="modal__btn modalBtnAdd" type="submit" name="action" disabled value="Изменить">
                    <button class="modal__btn close" type="button" data-dismiss="modal">Отмена</button>
                 </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead class="table__head">
        <tr>
            <th class="table__column" scope="col">id</th>
            <th class="table__column" scope="col">Имя сотрудника</th>
            <th class="table__column" scope="col">Дата рождения</th>
            <th class="table__column" scope="col">Возраст</th>
            <th class="table__column" scope="col">Проекты</th>
            <th class="table__column" scope="col">Специальность</th>
            <th class="table__column" scope="col">Должность</th>
            <th class="table__column" colspan="2">Действия</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="table__footer" colspan="9">Количество сотрудников {{ length }}, инженеров {{ count_engineers[0]['ENGINEERS'] }}, техников {{ count_technicians[0]['TECHNICIAN'] }}, конструкторов {{ count_constructors[0]['CONSTRUCTOR'] }}, лаборантов {{ count_assistants[0]['ASSISTANT'] }}, обслуживающего персонала {{ count_staffs[0]['STAFF'] }}, рабочих {{ count_workers[0]['WORKER'] }}, начальников {{ count_leaders[0]['LEADER'] }}.</td>
        </tr>
    </tfoot>
    <tbody class="table__body">
        {% for worker in workers_list %}
        <tr>
            <td class="table__column" scope="col">{{ worker.idWorker }}</td>
            <td class="table__column" scope="col">{{ worker.surname }} {{ worker.forename }}</td>
            <td class="table__column" scope="col">{{ worker.DOB }}</td>
            <td class="table__column" scope="col">{{ worker.Age }}</td>
            <td class="table__column" scope="col">
                <select class="table__select" id="worker-{{ worker.idWorker }}" name="{{ worker.idWorker }}">
                    {% for executor in executors_list %}
                        {% if worker.idWorker == executor.idWorker %}
                            <option value="project-{{ executor.idProject }}">{{ executor.Name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td class="table__column" scope="col">{{ worker.speciality }}</td>
            <td class="table__column" scope="col">{{ worker.position }}</td>
            <td class="table__column">
                <a class="table__btn btn-open" href="#" id="editBtn" data-id="modalEdit" data-info="{{ worker.idWorker }}, {{ worker.surname }}, {{ worker.forename }}, {{ worker.DOB }}, {{ worker.speciality }}, {{ worker.position }}" >Редактировать</a>
            </td>
            <td class="table__column btnDelete" data-leaders="{{ leader_list }}">
                <a class="table__btn idBtnDelete-{{ worker.idWorker }}" href="/Worker/delete/{{ worker.idWorker }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/worker.js') }}"></script>
{% endblock %}