{% extends 'base.html' %}

{% block title %}
    Сотрудники
{% endblock %}

{%block header%}
    <div class="header__title">
        <i class="fa-solid fa-industry"></i>
        <h3>Сотрудники</h3>
    </div>
    <form method="GET">
        <input class="header__input" type="text" placeholder="Поиск..." name="q" size="50" value="{{ request.args.get('q', '') }}">
        <input class="header__btn" type="submit" name="action" value="Искать">
    </form>
    <nav class="header__nav">
        <button class="header__btn" id="add">Добавить сотрудника</button>
        <button class="header__btn" onclick="document.location='/'">Назад</button>
    </nav>
{% endblock %}

{% block body %}
<form method="post">
    <div id="modal1" class="modal" tabindex="-1" role="dialog">
        <div class="modal__content">
            <div class="modal__header">
                <p class="modal__title">Добавление сотрудника</p>
                <button type="button" id="btn-close1" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <label class="modal__label" for="forename">Имя</label>
                <input class="modal-input" id="forename" maxlength="100" name="forename" placeholder="Введите имя сотрудника...">
                <label class="modal__label" for="surname">Фамилия</label>
                <input class="modal-input" id="surname" maxlength="100" name="surname" placeholder="Введите фамилию сотрудника...">
                <label class="modal__label" for="DOB">Дата рождения</label>
                <input class="modal-input" id="DOB" name="DOB" type="date" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00"/>
                <label class="modal__label" for="DOB">Специальность</label>
                <select class="modal-input" id="speciality" name="speciality">
                    <option>Инженер</option>
                    <option>Техник</option>
                    <option>Лаборант</option>
                    <option>Конструктор</option>
                    <option>Обслуживающий персонал</option>
                </select>
                <label class="modal__label" for="DOB">Должность</label>
                <select class="modal-input" id="position" name="position">
                    <option>Рабочий</option>
                    <option>Начальник</option>
                </select>

                <div>
                    {% for project in projects_check %}
                        <input type="checkbox"
                        name="projects" value="{{ project.idProject }}" onchange="OnChange()" > {{ project.name }}<br>
                    {% endfor %}
                </div>

            </div>
            <div class="modal__footer">
                <button class="modal__btn" type="button" id="random">Зарандомить</button>
                <div class="modal__control">
                    <input class="modal__btn" id="btn1" type="submit" name="action" value="Добавить">
                    <button class="modal__btn" type="button" id="cancel" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

<!--    <div id="id02" class="modal" tabindex="-1" role="dialog">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Редактировать сотрудника</h5>-->
<!--                    <input class="form-control" id="Worker2" name="Worker2" hidden>-->
<!--                    <button type="button" id="kreuz2" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <input class="form-control" id="Forename2" maxlength="100" name="Forename2"-->
<!--                   placeholder="Введите имя сотрудника" onchange="OnChange2()"><br>-->
<!--                    <input class="form-control" id="Surname2" maxlength="100" name="Surname2"-->
<!--                   placeholder="Введите фамилию сотрудника" onchange="OnChange2()"><br>-->
<!--                    <div class="form-group">-->
<!--                    <input id="DOB2" max="2038-01-19T22:23:59" min="1900-01-01T00:00:00" name="DOB2"-->
<!--                       onchange="OnChange2()" type="date" style="width: 220px;"/>-->
<!--                    <label> - Дата рождения </label>-->
<!--                    <br>-->
<!--                    <select id="Speciality2" name="Speciality2" style="width: 220px;">-->
<!--                        <option>Инженер</option>-->
<!--                        <option>Техник</option>-->
<!--                        <option>Лаборант</option>-->
<!--                        <option>Конструктор</option>-->
<!--                        <option>Обслуживающий персонал</option>-->
<!--                    </select>-->
<!--                    <label> - Специальность </label>-->
<!--                    <br>-->
<!--                    <select id="Position2" name="Position2" style="width: 220px;">-->
<!--                        <option>Рабочий</option>-->
<!--                        <option>Начальник</option>-->
<!--                    </select>-->
<!--                    <label> - Должность </label>-->
<!--                    </div>-->

<!--                    <div style="overflow: auto; width: 100%; height: 80px; border: 1px solid #336699; padding-left: 5px">-->
<!--                        {% for project in projects_check %}-->
<!--                            <input class="require-one" type="checkbox" id="{{ project.Name }}"-->
<!--                            name="projects2" value="{{ project.idProject }}" onchange="OnChange2()" > {{ project.Name }}<br>-->
<!--                        {% endfor %}-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <input id="btn2" type="submit" name="action" value="Изменить">-->
<!--                    <button type="button" id="cancel2" data-dismiss="modal">Отмена</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table">
        <thead class="table__head">
            <tr>
                <th class="table__column" scope="col">id</th>
                <th class="table__column" scope="col">Имя сотрудника</th>
                <th class="table__column" scope="col">Дата рождения</th>
                <th class="table__column" scope="col">Возраст</th>
                <th class="table__column" scope="col">Проекты</th>
                <th class="table__column" scope="col">Специальность</th>
                <th class="table__column" scope="col">Должность</th>
                <th class="table__column" colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr>
            {% for row in results %}
                <td class="table__column" scope="col">{{ row.idWorker }}</td>
                <td class="table__column" scope="col">{{ row.surname }} {{ row.forename }}</td>
                <td class="table__column" scope="col">{{ row.DOB }}</td>
                <td class="table__column" scope="col">{{ row.Age }}</td>
                <td class="table__column" scope="col">
                    <select class="table__select" id="ProjectsSelect" name="{{ row.idWorker }}">
                        {% for executor in executors_check %}
                            {% if row.idWorker == executor.idWorker %}
                                <option>{{ executor.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="table__column" scope="col">{{ row.speciality }}</td>
                <td class="table__column" scope="col">{{ row.position }}</td>
                <td class="table__column">
                    <a class="table__btn" href="#" id="edit">Редактировать</a>
                </td>
                <td class="table__column">
                    <a class="table__btn" href="/Worker/delete/{{ row.idWorker }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <th class="table__footer" colspan="9">Количество сотрудников {{ length }}, инженеров {{ count_engineers[0]['ENGINEERS'] }},
        техников {{ count_technicians[0]['TECHNICIAN'] }}, конструкторов {{ count_constructors[0]['CONSTRUCTOR'] }},
        лаборантов {{ count_assistants[0]['ASSISTANT'] }},
        обслуживающего персонала {{ count_staffs[0]['STAFF'] }},
        рабочих {{ count_workers[0]['WORKER'] }},
        начальников {{ count_leaders[0]['LEADER'] }}.</th>
    </table>
</form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/worker_add.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/worker_edit.js') }}"></script>
{% endblock %}